<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	
	<a class="navbar-brand" href="/">
		<img src="/images/logo.svg" alt="Gabriel Crandall" class="logo">
	</a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" id="nav-home">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item" id="nav-about">
				<a class="nav-link" href="/about">About</a>
			</li>
			<li class="nav-item dropdown" id="nav-work">
				<a class="nav-link dropdown-toggle" href="#" id="workDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Work</a>
				<div class="dropdown-menu" aria-labelledby="workDropdown">
					<a class="dropdown-item" href="/work/featured" id="nav-work-featured">Featured</a>
					<a class="dropdown-item" href="/work/design" id="nav-work-design">Design</a>
					<a class="dropdown-item" href="/work/programming" id="nav-work-programming">Programming</a>
					<!--<a class="dropdown-item" href="/work/other" id="nav-work-other">Other</a>-->
				</div>
			</li>
			<li class="nav-item" id="nav-contact">
				<a class="nav-link" href="mailto:gabrielcrandall@u.boisestate.edu">Contact Me</a>
			</li>
		</ul>
		
	</div>
</nav>